:root {
    --back: #313338;
    --title: #BAAFFF;
    --menus: #1E1F22;
    --submenus: #2D2D2D;
    --text-first: #CBD6D6;
    --text-second: #949494;
    --hover-color1: #9281FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;

    user-select: none;
}
body {
    background: var(--back);
}

main {
    display: flex;

    justify-content: center;
}

table {
    margin-top: 30px;

    font-size: 20px;

    color: var(--text-first);

    background: var(--menus);

    border-radius: 10px;

    padding: 15px;
}

td {
    padding: 10px;

    border: 3px solid var(--hover-color1);
}

.titles {
    color: var(--title);

    text-decoration: underline;
}

.button__add {
    display: flex;
    justify-content: center;
    
    margin-top: 30px;
}

.modal {
    position: absolute;

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    min-width: 100vw;
    min-height: 100vh;

    background: rgba(0, 0, 0, 0.8);

    display: none;
}

.modal__window {
    position: absolute;
    background: var(--menus);
    color: var(--text-first);

    border-radius: 10px;

    padding: 15px;

    width: 400px;

    display: none;

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.modal__inputs {
    display: flex;
    flex-direction: column;
}

.modal__title {
    color: var(--title);

    font-size: 30px;

    text-align: center;

    margin-bottom: 30px;
    margin-top: 20px;
}

.modal__inputs input {
    background: var(--submenus);
    border: 0px;

    border-radius: 5px;

    margin-bottom: 10px;

    padding: 10px 5px;

    font-size: 16px;

    outline: none;

    color: var(--text-first);
}

.modal__button {
    display: flex;

    justify-content: center;
}



#ready__button, #button {
    margin-top: 20px;
    margin-bottom: 30px;

    text-align: center;
    background: var(--submenus);

    border: 3px solid var(--submenus);
    border-radius: 5px;

    text-align: center;

    outline: none;

    color: var(--text-first);
    padding: 10px;

    font-size: 20px;
}

#ready__button:hover, #button:hover {
    color: var(--hover-color1);

    border: 3px solid var(--hover-color1) !important;

    transition: 0.3s;
}

#button {
    background: var(--menus) !important;
    border: 3px solid var(--menus) !important;
}

.filter__input {
    width: 100%;
    height: 100%;
    padding: 15px;

    font-size: 20px;

    background: var(--submenus);
    color: var(--text-first);

    border: 0px;

    outline: none;
}