:root {
    --back: #313338;
    --title: #BAAFFF;
    --menus: #1E1F22;
    --submenus: #2D2D2D;
    --text-first: #CBD6D6;
    --text-second: #949494;
    --hover-color1: #9281FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;

    user-select: none;
}
body {
    background: var(--back);
}

main {
    display: flex;

    justify-content: center;
}

table {
    margin-top: 30px;

    font-size: 20px;

    color: var(--text-first);

    background: var(--menus);

    border-radius: 10px;

    padding: 15px;
}

td {
    padding: 10px;

    border: 3px solid var(--hover-color1);
}

.titles {
    color: var(--title);

    text-decoration: underline;
}

button {
    padding: 15px;
    background: var(--menus);
    color: var(--title);
    border-radius: 10px;
    font-size: 20px;

    border: 3px solid var(--menus);
}

button:hover {
    color: var(--hover-color1);

    background: var(--submenus);

    transition: 1.3s;

    border: 3px solid var(--text-first);
}

.button__add {
    display: flex;
    justify-content: center;
    
    margin-top: 30px;
}

.modal__window {
    position: absolute;
    display: flex;
    justify-content: center;

    background: red;

    width: 400px;
    height: 800px;

    left: 34%;

    display: none;
}
